#btn
{   width:7% ;
    height:10% ;
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 20px;
    margin-left:52% ;
    font-family: "ubisoft_sansbold", sans-serif;
    
}